# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: "Development Workflow"
on:
  push:
  pull_request:
    branches:
      - developer-container/9.5
  release:
    types: [released]

defaults:
  run:
    working-directory: "./"
jobs:
  generate-dependencies:
    runs-on: ubuntu-latest
    name: Generate provenance files
    if: github.ref != 'refs/heads/main' && github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm run gen-dependencies
      - run: |
          if (( $(git status | grep provenance.json | wc -l | xargs) > 0))
          then
            echo "Commiting provenance files"
            git config --global user.name "ilesev-vmw"
            git config --global user.email "ilesev@vmware.com"

            git add -A
            git commit -s -m "Update provenance files"
            git push
          fi
