<clr-main-container>
  <clr-header>
    <div class="branding">
      <a [routerLink]="" class="nav-link">
        <img *ngIf="branding.headerLogo; else defaultLogo" [src]="branding.headerLogo" class="header-logo" />
        <span class="title">{{branding.headerTitle}}</span>
      </a>
    </div>
  </clr-header>

  <div class="content-wrapper">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>

<ng-template #defaultLogo>
  <clr-icon shape="vm" class="is-inverse header-logo"></clr-icon>
</ng-template>